@import url('https://fonts.googleapis.com/css?family=Damion|Great+Vibes|Pathway+Gothic+One|Paytone+One|Spinnaker&display=swap');

.navBar {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Great-Vibes', sans-serif;
  top: 0;
  background-color: clear;
}

.navBar h3{
    color: white;
    padding: 1em;
}

#link {
  color: white;
  text-decoration: none;
  margin-right: 1em;
}

#link:hover {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

#leftName {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--spin);
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

#topNav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: .75rem;
}



.navBar a:hover {
  color: var(--green);
}


.dropNav {
  background-color:transparent;
  overflow: hidden;
  display: none;
}

#dropbtn {
  background-color: transparent;
  font-size: 20px;
  color: white;
  margin-top: 12px;
  display: none;
  margin-bottom: -20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 100vw;
  z-index: 0;
  top: -10px;
  height: 120px;
  text-align: left;
  padding: 20px 0 10px;
}

.dropNav:hover .dropdown-content {
  display: block;
  margin-left: 0;
  background-color: black;
}

.min-screen {
  background-color: black;
  color:white;
  font-weight: 800;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

.min-screen:hover{
  color: var(--green);
}

@media (max-width: 600px) {
  #name{
    display:none;
  }
  #link{
  font-size: 10px;
  }
}