@import url('https://fonts.googleapis.com/css?family=Damion|Great+Vibes|Pathway+Gothic+One|Paytone+One|Spinnaker&display=swap');
:root {
  --darkblue: #0a024b;
  --green: rgb(221, 218, 6);
  --spin: 'Spinnaker', sans-serif;
  --damion: 'Damion', cursive;
  --lightgray: rgba(252, 252, 252, 0.76);
}

#projects-page-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: block;
  background: url('../images/verrazano.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: 0.15em;
  background-color: rgba(0, 0, 0, 0.15);
}

#projects-page-text-container {
  box-sizing: border-box;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  text-align: center;
}

#projects-page-text {
  width: 100%;
  height: 70vh;
  position: absolute;
  line-height: 1em;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#projects-page-text h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#projects-page-gallery {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 22.5vw;
  height: 50vh;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#overlay-text {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  padding: 1em;
  text-transform: uppercase;
}

.content-details button {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
}
.content-details button:hover {
  color: black;
  background-color: white;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.fadeIn-top {
  top: 20%;
}

.fadeIn-right {
  left: 80%;
}

#project-logo {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-shrink: 1;
  width: 22.5vw;
  overflow: hidden;
}

#selected-project {
  width: 100vw;
  height: 100vh;
  display: none;
  margin: 0 0 10%;
  padding: 0 5em;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#selected-project a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#selected-project a:visited {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
#macbook-screenshot {
  width: 50%;
}

#mobile-screenshot {
  width: 25%;
}
#selected-project ul {
  list-style: none;
}

#project-title {
  font-size: 24px;
  font-weight: 800;
  text-transform: lowercase;
  margin-top: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#project-description {
  width: 50%;
  margin-left: 25%;
  line-height: 2em;
  text-align: justify;
}



