@import url('https://fonts.googleapis.com/css?family=Damion|Great+Vibes|Pathway+Gothic+One|Paytone+One|Spinnaker&display=swap');
:root {
  --darkblue: #0a024b;
  --green: rgb(221, 218, 6);
  --spin: 'Spinnaker', sans-serif;
  --damion: 'Damion', cursive;
  --lightgray: rgba(252, 252, 252, 0.76);
}

#projects-page-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: block;
  background: url('../images/verrazano.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-page-header{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: 0.15em;
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
}

#projects-page-text-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin-bottom: 20vh;
  background-color: whitesmoke;
}

#projects-page-text {
  width: 100%;
  height: 90vh;
  position: absolute;
  line-height: 2em;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
#projects-page-text h1 {
  font-family:'Times New Roman', serif;
}

#projects-text {
  width: 50%;
  text-transform: none;
}

#projects-page-gallery {
  width: 100vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  scroll-behavior: smooth;
  justify-content: space-evenly;
}



#project-logo {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 20vw;
  margin: 2em 0;
  overflow: hidden;
}

#img-container{
  position: relative;
  width: 100%;
}

#img-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.8)
}

#img-container:hover #img-overlay{
  opacity: 1;
}

#img-overlay-text{
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid white;
  padding: 1em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 600;
}

#selected-project {
  width: 100%;
  height: 80vh;
  position: relative;
  display: none;
  line-height: 2em;
  margin-bottom: 3em;
  align-items: center;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#selected-project a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#selected-project a:visited {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#macbook-screenshot {
  height: 50vh;
}

#mobile-screenshot {
  width: 20%;
}

.project-content {
  position: relative;
  width: 100%;
  display: block;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.project-content-details {
  position: relative;
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#overlay-text {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  padding: 1em;
  text-transform: uppercase;
}

.project-content:hover .project-content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.fadeIn-top {
  top: 20%;
}

.fadeIn-right {
  left: 80%;
}

#project-title {
  font-size: 24px;
  font-weight: 800;
  text-transform: lowercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#project-description {
  width: 50%;
  margin-left: 25%;
  line-height: 2em;
  text-align: justify;
}

@media(max-width: 375px){
  #projects-page-text-container{
   background-color: white;
  }

  #projects-page-gallery{
    height: 200vh;
    display: flex;
  }

  #img-container, #img-overlay{
    width: 100%;
  }
 

  #macbook-screenshot{
    height: 20vh;
  }
  #mobile-screenshot{
    width:40vw;
  }
}
@media(max-width: 414px){
  #projects-page-text-container{
   background-color: white;
  }

  #projects-page-gallery{
    height: 200vh;
    display: flex;
  }

  #img-container, #img-overlay{
    width: 100%;
  }
 

  #macbook-screenshot{
    height: 20vh;
  }
  #mobile-screenshot{
    width:40vw;
  }
}